[[source]]
url = "https://mirrors.tencent.com/pypi/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.2.7"
pymysql = "==1.1.0"
django-redis = "==5.4.0"
cryptography = "==41.0.5"
djangorestframework = "==3.14.0"
markdown = "==3.5.1"
requests = "==2.31.0"
bcrypt = "==4.0.1"
pillow = "==10.1.0"
drf-nested-routers = "==0.93.4"
pyjwt = "2.8.0"
ipython = "*"
inflection = "*"
drf-yasg = "*"
openpyxl = "*"

[dev-packages]

[requires]
python_version = "3.12"
