# compose/mysql/conf/my.cnf

[mysqld] # 服务端基本配置

user = mysql # 用户名
default-storage-engine = INNODB # 创建数据表时，默认使用的存储引擎
character-set-server = utf8 # 服务器字符集
secure-file-priv = NULL # 用于限制导入和导出的数据目录 [mysql 8 新增这行配置 ]
default-authentication-plugin = caching_sha2_password # 默认身份验证插件 [mysql 8 新增这行配置]

port = 3306 # 数据库提供对外的端口，端口与docker-compose里映射端口保持一致
#bind-address = localhost #一定要注释掉，mysql所在容器和django所在容器不同IP

basedir = /usr # 软件介质安装目录
datadir = /var/lib/mysql # 数据库数据目录
tmpdir = /tmp # 数据库临时文件位置
pid-file = /var/run/mysqld/mysqld.pid # 进程文件位置
socket = /var/run/mysqld/mysqld.sock # 套接字文件，本地连接使用
skip-name-resolve  # 这个参数是禁止域名解析的，远程访问推荐开启skip_name_resolve。

[client] # 客户端基本配置
port = 3306 # 客户端端口号
default-character-set=utf8

[mysql] # 组下参数
no-auto-rehash
default-character-set=utf8